.log_in fieldset {
    border: none;
}

#overlay {
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color:white;
    z-index: 2;
}

.log_in {
    border: 1px black solid;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    /* -ms-transform: translate(-50%,-50%); */
}

.log_in p {
    text-align: center;
}