@import "./messageStyle.css";
/* @import "./friends.css"; */
@import 'login.css';
@import 'news.css';
@import 'chores.css';
@import 'events.css';

* {
    font-family: sans-serif;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: #9dc072;
    border: 1px black solid;
}

.container__left {
    flex: 1;
    flex-direction: column;
}

.container__right {
    flex: 5;
}

.container__friends {
    display: flex;
    flex-direction: row;
}

.friends_list {
    flex: 1;
} 

.messages {
    flex: 1;
}

header {
    background-color: #9dc072;
    border: 1px black solid;
}

.nutshell {
    color: #DDA15E;
    -webkit-text-stroke: 1px black;
}

.choreForm, .choreContainer, .friends_list, .news, .messages, .event-section, .user_info {
    background-color: rgba(255, 255, 255, .6);
    margin: .5em;
    padding: .25em;
    border: 1px black solid;
}

fieldset {
    border: none;
}

.bold {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

footer {
    text-align: center;
    color: white;
    background-color: black;
}