@import "./messageStyle.css";
@import 'login.css';

/* Delete comments before pushing final project */
* {
    font-family: sans-serif;
}

/* This is just to see where our boxes are */
section, article, header {
    border: 1px black solid;
}

/* For explanations on what's happening with flexbox see: https://css-tricks.com/almanac/properties/f/flex/ */
.container {
    display: flex;
    flex-direction: row;
    background-color: #9dc072
}

.container__left {
    flex: 1;
    flex-direction: column;
}

.container__right {
    flex: 5;
}

.container__friends {
    display: flex;
    flex-direction: row;
}

.friends_list {
    flex: 1;
} 

.messages {
    flex: 1;
}

header {
    background-color: #9dc072;
}

.nutshell {
    color: #DDA15E;
    -webkit-text-stroke: 1px black;
    /* This adds a black outline to the header text. It was adding an outline to the 🌰 emoji too,
    which looked bad on Windows so I separated the text and emoji with a span tag */
}

.chores, .friends_list, .news, .messages, .events, .user_info {
    background-color: rgba(255, 255, 255, .6);
    /* rgba(255, 255, 255, .6) is white, and the last number controls the opacity %. .6 is 60% opacity */
    margin: .5em;
    padding: .25em;
}
